{% extends "base.html.twig" %}

{%- block body %}
    <div class="py-5 px-3">
        <h1>Home page</h1>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consequatur dicta, dolor eligendi et,
            harum in quo quod reiciendis sed ullam unde veritatis voluptas!</p>
        <p>Alias animi at, explicabo ipsam officia praesentium reprehenderit temporibus unde. Adipisci, dolorem
            doloremque et harum ipsam necessitatibus nobis officia quas quasi, quis rerum, veniam voluptates!</p>
        <p>Accusamus amet aperiam atque consequuntur delectus eaque earum eius id in iste iusto mollitia saepe, totam
            vero voluptatibus. Accusamus laborum necessitatibus, pariatur recusandae tenetur voluptatem?</p>
        <p>Alias amet architecto aspernatur enim exercitationem, laborum nobis sint tempora? Aliquid aut cum, dicta
            ducimus eos expedita fuga molestiae, neque nulla optio, porro reiciendis vitae.</p>
        <p>Alias dolor eaque excepturi facere, harum illo impedit iste molestiae nulla saepe totam unde veritatis
            voluptates! Doloremque, doloribus explicabo labore necessitatibus nesciunt saepe similique voluptatem!</p>
    </div>
{%- endblock %}