<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Shopping list{% endblock %}</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <meta name="theme-color" content="#7952b3">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url('index') }}">🛒 Shopping list</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Week meals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shopping list</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container">

    {% block body %}{% endblock %}

</main>

<footer class="mastfoot mt-auto text-center">
    <div class="inner">
        <p>Just a emonstration application. Neveldo - MIT License</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js" integrity="sha512-ZvbjbJnytX9Sa03/AcbP/nh9K95tar4R0IAxTS2gh2ChiInefr1r7EpnVClpTWUEN7VarvEsH3quvkY1h0dAFg==" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
